In [2]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Time Series Libraries
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA

# Machine Learning Frameworks
import xgboost as xgb

In [3]:
train=pd.read_csv("Data/train.csv")
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [4]:
test=pd.read_csv("Data/test.csv")
test.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [5]:
oil_data = pd.read_csv('Data/oil.csv')
holidays_data = pd.read_csv('Data/holidays_events.csv')
store_data = pd.read_csv('Data/stores.csv')
transactions_data = pd.read_csv('Data/transactions.csv')

In [6]:
oil_data.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [7]:
holidays_data["type"].unique()

array(['Holiday', 'Transfer', 'Additional', 'Bridge', 'Work Day', 'Event'],
      dtype=object)

In [8]:
store_data.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [9]:
transactions_data.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

# Data processing

In [10]:
train['dataset'] = 'train'
test['dataset'] = 'test'

# concatenate the datasets with the added 'dataset' column
df = pd.concat([train, test], axis=0).reset_index(drop=True)

In [11]:
df.head()

   id        date  store_nbr      family  sales  onpromotion dataset
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0   train
1   1  2013-01-01          1   BABY CARE    0.0            0   train
2   2  2013-01-01          1      BEAUTY    0.0            0   train
3   3  2013-01-01          1   BEVERAGES    0.0            0   train
4   4  2013-01-01          1       BOOKS    0.0            0   train

In [12]:
print(df.columns)
print(oil_data.columns)
print(holidays_data.columns)
print(store_data.columns)
print(transactions_data.columns)

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion', 'dataset'], dtype='object')
Index(['date', 'dcoilwtico'], dtype='object')
Index(['date', 'type', 'locale', 'locale_name', 'description', 'transferred'], dtype='object')
Index(['store_nbr', 'city', 'state', 'type', 'cluster'], dtype='object')
Index(['date', 'store_nbr', 'transactions'], dtype='object')

In [13]:
holidays_data.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [14]:
holidays_data[holidays_data['transferred'] == True]

,date,type,locale,locale_name,description,transferred
19,2012-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
72,2013-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
135,2014-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
255,2016-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True
266,2016-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,True
268,2016-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
297,2017-01-01,Holiday,National,Ecuador,Primer dia del ano,True
303,2017-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,True
312,2017-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True
324,2017-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
328,2017-09-28,Holiday,Local,Ibarra,Fundacion de Ibarra,True
340,2017-12-06,Holiday,Local,Quito,Fundacion de Quito,True

In [15]:
holidays_data[holidays_data['type'] == 'Transfer']

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
136,2014-10-10,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
256,2016-05-27,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
269,2016-08-12,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
298,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,False
304,2017-04-13,Transfer,Local,Cuenca,Fundacion de Cuenca,False
313,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
329,2017-09-29,Transfer,Local,Ibarra,Fundacion de Ibarra,False
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False

In [16]:
holidays_data[holidays_data['type'] == 'Transfer']

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
136,2014-10-10,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
256,2016-05-27,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
269,2016-08-12,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
298,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,False
304,2017-04-13,Transfer,Local,Cuenca,Fundacion de Cuenca,False
313,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
329,2017-09-29,Transfer,Local,Ibarra,Fundacion de Ibarra,False
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False

In [17]:
holidays_data.loc[holidays_data['type'] == 'Transfer', 'type'] = 'Holiday'

In [18]:
holidays_data['Holiday summary'] = (
    holidays_data['type'].astype(str) + " " +
    holidays_data['locale'].astype(str) + " " +
    holidays_data['locale_name'].astype(str) + " " 
    # holidays_data['description'].astype(str)
)

In [19]:
holidays_data= holidays_data.drop(columns=['type', 'locale', 'locale_name', 'description'] , errors='ignore' )

In [20]:
holidays_data['Holiday summary'].value_counts()

Holiday summary
Holiday National Ecuador                            68
Event National Ecuador                              56
Additional National Ecuador                         40
Holiday Local Latacunga                             12
Holiday Local Riobamba                              12
Holiday Local Guaranda                              12
Holiday Local Ambato                                12
Holiday Local Cuenca                                 7
Holiday Local Quito                                  7
Holiday Local Ibarra                                 7
Holiday Local Puyo                                   6
Holiday Local Libertad                               6
Holiday Regional Cotopaxi                            6
Holiday Local Manta                                  6
Holiday Local Esmeraldas                             6
Holiday Local Cayambe                                6
Holiday Local El Carmen                              6
Holiday Local Santo Domingo                          6
Holiday Local Machala                                6
Holiday Regional Imbabura                            6
Holiday Local Quevedo                                6
Holiday Regional Santo Domingo de los Tsachilas      6
Additional Local Quito                               6
Holiday Regional Santa Elena                         6
Holiday Local Salinas                                6
Holiday Local Loja                                   6
Holiday Local Guayaquil                              6
Bridge National Ecuador                              5
Work Day National Ecuador                            5
Additional Local Guayaquil                           5
Name: count, dtype: int64

In [21]:
store_data

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3

In [22]:
transactions_data

             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
...           ...        ...           ...
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [23]:
df = df.merge(oil_data, on='date', how='left')
# Merge holiday data on date
df = df.merge(holidays_data, on='date', how='left')
# Merge store data on store number
df = df.merge(store_data, on='store_nbr', how='left')
# Merge transaction data on store number and date
df = df.merge(transactions_data, on=['date', 'store_nbr'], how='left')

In [24]:
df.sample(10)

,id,date,store_nbr,family,sales,onpromotion,dataset,dcoilwtico,transferred,Holiday summary,city,state,type,cluster,transactions
2619764,2575214,2016-12-19,15,PET SUPPLIES,1.000,0,train,52.13,NaN,NaN,Ibarra,Imbabura,C,15,1599.0
2280593,2244953,2016-06-16,48,PREPARED FOODS,96.579,0,train,46.14,NaN,NaN,Quito,Pichincha,A,14,2313.0
1351049,1331447,2015-01-20,17,PREPARED FOODS,46.000,0,train,46.79,NaN,NaN,Quito,Pichincha,C,12,1211.0
1945994,1921046,2015-12-17,10,HOME APPLIANCES,0.000,0,train,34.98,NaN,NaN,Quito,Pichincha,C,15,914.0
2967564,2915886,2017-06-29,24,CELEBRATION,23.000,0,train,44.88,NaN,NaN,Guayaquil,Guayas,D,1,2094.0
36797,36797,2013-01-21,41,BEAUTY,2.000,0,train,NaN,NaN,NaN,Machala,El Oro,D,4,715.0
316570,312829,2013-06-25,36,"LIQUOR,WINE,BEER",17.000,0,train,95.25,False,Holiday Local Machala,Libertad,Guayas,E,10,917.0
1189496,1173458,2014-10-22,34,FROZEN FOODS,112.177,0,train,80.52,NaN,NaN,Guayaquil,Guayas,B,6,2050.0
2931814,2883700,2017-06-11,20,POULTRY,579.486,0,train,NaN,NaN,NaN,Quito,Pichincha,B,6,2144.0
1427292,1407690,2015-03-03,7,DELI,200.192,0,train,50.43,NaN,NaN,Quito,Pichincha,D,8,1741.0

In [25]:
print("\nSummary Statistics for Numerical Columns:")
df.describe()

Summary Statistics for Numerical Columns:

,id,store_nbr,sales,onpromotion,dcoilwtico,cluster,transactions
count,3.082860e+06,3.082860e+06,3.054348e+06,3.082860e+06,2.120580e+06,3.082860e+06,2.805231e+06
mean,1.518250e+06,2.750000e+01,3.590209e+02,2.657692e+00,6.780640e+01,8.481481e+00,1.697071e+03
std,8.742912e+05,1.558579e+01,1.107286e+03,1.236626e+01,2.564571e+01,4.649735e+00,9.668317e+02
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.619000e+01,1.000000e+00,5.000000e+00
25%,7.618048e+05,1.400000e+01,0.000000e+00,0.000000e+00,4.646000e+01,4.000000e+00,1.046000e+03
50%,1.521828e+06,2.750000e+01,1.100000e+01,0.000000e+00,5.325000e+01,8.500000e+00,1.395000e+03
75%,2.272940e+06,4.100000e+01,1.960110e+02,0.000000e+00,9.572000e+01,1.300000e+01,2.081000e+03
max,3.029399e+06,5.400000e+01,1.247170e+05,7.410000e+02,1.106200e+02,1.700000e+01,8.359000e+03

In [26]:
df["dcoilwtico"]=df["dcoilwtico"].fillna(method="ffill").fillna(method="bfill")

/tmp/ipykernel_887976/389983786.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["dcoilwtico"]=df["dcoilwtico"].fillna(method="ffill").fillna(method="bfill")

In [27]:
df["dcoilwtico"].isnull().sum()

0

In [28]:
df['transactions'] = df.groupby('family')['transactions'].transform(
    lambda x: x.fillna(x.median())
)

In [29]:
df["transactions"].isnull().sum()

0

In [30]:
df["is_holiday"]=df["Holiday summary"].fillna('Not Holiday').apply(lambda x: 0 if x == 'Not Holiday' else 1)

In [31]:
df["is_holiday"].unique().sum()

1

In [32]:
df.isnull().sum()

id                       0
date                     0
store_nbr                0
family                   0
sales                28512
onpromotion              0
dataset                  0
dcoilwtico               0
transferred        2578554
Holiday summary    2578554
city                     0
state                    0
type                     0
cluster                  0
transactions             0
is_holiday               0
dtype: int64

In [33]:
df['transactions'] = df.groupby('family')['transactions'].transform(
    lambda x: x.fillna(x.median())
)

In [34]:
df['transactions'].fillna(method='ffill', inplace=True)
df['transactions'].fillna(df['transactions'].mean(), inplace=True)

/tmp/ipykernel_887976/2154679660.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transactions'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_887976/2154679660.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['transactions'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_887976/2154679660.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transactions'].fillna(df['transactions'].mean(), inplace=True)

In [35]:
df = df.drop(columns=['transferred', 'Holiday summary'], errors='ignore')

**convert date time col**

In [36]:
import datetime as dt

In [37]:
df['date'] = pd.to_datetime(df['date'])
df["year"]=df['date'].dt.year
df["month"]=df["date"].dt.month
df["day"]=df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek

In [38]:
df.head()

,id,date,store_nbr,family,sales,onpromotion,dataset,dcoilwtico,city,state,type,cluster,transactions,is_holiday,year,month,day,day_of_week
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,train,93.14,Quito,Pichincha,D,13,1395.0,1,2013,1,1,1
1,1,2013-01-01,1,BABY CARE,0.0,0,train,93.14,Quito,Pichincha,D,13,1395.0,1,2013,1,1,1
2,2,2013-01-01,1,BEAUTY,0.0,0,train,93.14,Quito,Pichincha,D,13,1395.0,1,2013,1,1,1
3,3,2013-01-01,1,BEVERAGES,0.0,0,train,93.14,Quito,Pichincha,D,13,1395.0,1,2013,1,1,1
4,4,2013-01-01,1,BOOKS,0.0,0,train,93.14,Quito,Pichincha,D,13,1395.0,1,2013,1,1,1

**encode categorical columns**

In [39]:
df['family'].value_counts()
df.groupby('family', as_index=False).agg(
    sales_count=('sales', 'count'),
    sales_mean=('sales', 'mean')
).sort_values(by='sales_mean', ascending=False)[:10]

           family  sales_count   sales_mean
12      GROCERY I        92556  3790.432797
3       BEVERAGES        92556  2394.912701
30        PRODUCE        92556  1355.373698
7        CLEANING        92556  1074.171518
8           DAIRY        92556   711.175991
5    BREAD/BAKERY        92556   464.150612
28        POULTRY        92556   351.078816
24          MEATS        92556   341.965905
25  PERSONAL CARE        92556   271.192381
9            DELI        92556   265.629746

In [40]:
df.groupby('store_nbr', as_index=False).agg(
    sales_count=('sales', 'count'),
    sales_mean=('sales', 'mean')
).sort_values(by='sales_mean', ascending=False)[:10]

    store_nbr  sales_count   sales_mean
43         44        56562  1120.118405
44         45        56562   984.565998
46         47        56562   919.777871
2           3        56562   911.098054
48         49        56562   784.039156
45         46        56562   756.775349
47         48        56562   649.584599
50         51        56562   594.106667
7           8        56562   550.264615
49         50        56562   517.551554

In [41]:
df=pd.get_dummies(df,columns=["store_nbr","family"],dtype=int, drop_first=True)

In [42]:
from sklearn.preprocessing import LabelEncoder
from category_encoders import TargetEncoder




# Function for Target Encoding multiple categorical columns
def target_encoding_multiple_columns(df, target_column, categorical_columns, dataset_column='dataset'):
    
    for col in categorical_columns:
        # Calculate target mean for each category in the column using training data
        target_mean = df[df[dataset_column] == 'train'].groupby(col)[target_column].mean()

        # Map the target mean encoding to the entire dataset
        df[f'{col}_encoded'] = df[col].map(target_mean)

        # Handle missing values for categories not present in training
        df[f'{col}_encoded'].fillna(df[target_column].mean(), inplace=True)

    return df

# Example usage: Apply Target Encoding to multiple columns
categorical_columns = ['month', 'day', 'year', 'day_of_week']
df = target_encoding_multiple_columns(df, target_column='sales', categorical_columns=categorical_columns)


# Drop unnecessary columns after encoding
columns_to_drop = [
    'locale_name', 'description', 'transferred', 'city', 'state', 'family',
    'month', 'day_of_week', 'day', 'year', 'cluster', 'type'
]
df.drop(columns=columns_to_drop, errors='ignore', inplace=True)
df.columns

/tmp/ipykernel_887976/390646224.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f'{col}_encoded'].fillna(df[target_column].mean(), inplace=True)

/tmp/ipykernel_887976/390646224.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f'{col}_encoded'].fillna(df[target_column].mean(), inplace=True)
/tmp/ipykernel_887976/390646224.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f'{col}_encoded'].fillna(df[target_column].mean(), inplace=True)
/tmp/ipykernel_887976/390646224.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f'{col}_encoded'].fillna(df[target_column].mean(), inplace=True)

Index(['id', 'date', 'sales', 'onpromotion', 'dataset', 'dcoilwtico',
       'transactions', 'is_holiday', 'store_nbr_2', 'store_nbr_3',
       'store_nbr_4', 'store_nbr_5', 'store_nbr_6', 'store_nbr_7',
       'store_nbr_8', 'store_nbr_9', 'store_nbr_10', 'store_nbr_11',
       'store_nbr_12', 'store_nbr_13', 'store_nbr_14', 'store_nbr_15',
       'store_nbr_16', 'store_nbr_17', 'store_nbr_18', 'store_nbr_19',
       'store_nbr_20', 'store_nbr_21', 'store_nbr_22', 'store_nbr_23',
       'store_nbr_24', 'store_nbr_25', 'store_nbr_26', 'store_nbr_27',
       'store_nbr_28', 'store_nbr_29', 'store_nbr_30', 'store_nbr_31',
       'store_nbr_32', 'store_nbr_33', 'store_nbr_34', 'store_nbr_35',
       'store_nbr_36', 'store_nbr_37', 'store_nbr_38', 'store_nbr_39',
       'store_nbr_40', 'store_nbr_41', 'store_nbr_42', 'store_nbr_43',
       'store_nbr_44', 'store_nbr_45', 'store_nbr_46', 'store_nbr_47',
       'store_nbr_48', 'store_nbr_49', 'store_nbr_50', 'store_nbr_51',
       'store_nbr_52', 'store_nbr_53', 'store_nbr_54', 'family_BABY CARE',
       'family_BEAUTY', 'family_BEVERAGES', 'family_BOOKS',
       'family_BREAD/BAKERY', 'family_CELEBRATION', 'family_CLEANING',
       'family_DAIRY', 'family_DELI', 'family_EGGS', 'family_FROZEN FOODS',
       'family_GROCERY I', 'family_GROCERY II', 'family_HARDWARE',
       'family_HOME AND KITCHEN I', 'family_HOME AND KITCHEN II',
       'family_HOME APPLIANCES', 'family_HOME CARE', 'family_LADIESWEAR',
       'family_LAWN AND GARDEN', 'family_LINGERIE', 'family_LIQUOR,WINE,BEER',
       'family_MAGAZINES', 'family_MEATS', 'family_PERSONAL CARE',
       'family_PET SUPPLIES', 'family_PLAYERS AND ELECTRONICS',
       'family_POULTRY', 'family_PREPARED FOODS', 'family_PRODUCE',
       'family_SCHOOL AND OFFICE SUPPLIES', 'family_SEAFOOD', 'month_encoded',
       'day_encoded', 'year_encoded', 'day_of_week_encoded'],
      dtype='object')

In [43]:
df.to_csv("Data_processed.csv")

# test train split

In [44]:
from sklearn.preprocessing import StandardScaler
import numpy as np

# Step 5: Split Data Based on Time Series Order

# Separate train and test datasets
train_df = df[df['dataset'] == 'train'].drop(columns=['dataset'], errors='ignore')
test_df = df[df['dataset'] == 'test'].drop(columns=['dataset'], errors='ignore')


# Drop unnecessary columns from both datasets
train_df = train_df.drop(columns=['transactions', 'id'], errors='ignore')
test_df = test_df.drop(columns=['transactions'], errors='ignore')

# Sort training data by date to preserve time series order
train_df = train_df.sort_values(by='date')

# Define the split point for time series validation
split_ratio = 0.99  # Adjust as needed
split_index = int(len(train_df) * split_ratio)

# Create training and validation sets
X_train = train_df.iloc[:split_index].drop(columns=['sales'])
y_train = train_df.iloc[:split_index]['sales']
X_val = train_df.iloc[split_index:].drop(columns=['sales'])
y_val = train_df.iloc[split_index:]['sales']

# Log transform the target variables to stabilize variance
y_train = np.log1p(y_train)  # Log transform training target
y_val = np.log1p(y_val)      # Log transform validation target

# Drop the 'date' column after feature extraction
X_train = X_train.drop(columns=['date'], errors='ignore')
X_val = X_val.drop(columns=['date'], errors='ignore')

X_test = test_df.drop(columns=['sales'], errors='ignore')

In [45]:
X_val

,onpromotion,dcoilwtico,is_holiday,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,store_nbr_6,store_nbr_7,store_nbr_8,...,family_PLAYERS AND ELECTRONICS,family_POULTRY,family_PREPARED FOODS,family_PRODUCE,family_SCHOOL AND OFFICE SUPPLIES,family_SEAFOOD,month_encoded,day_encoded,year_encoded,day_of_week_encoded
3023080,0,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023104,18,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023103,0,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023102,4,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
3023101,0,49.72,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,376.414091,345.823234,481.166458,434.785811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053153,0,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,336.992535,348.736707,481.166458,319.920782
3053152,8,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,336.992535,348.736707,481.166458,319.920782
3053151,0,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,336.992535,348.736707,481.166458,319.920782
3053162,0,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,336.992535,348.736707,481.166458,319.920782
3054347,0,47.57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,336.992535,348.736707,481.166458,319.920782

# Model Selection and Implementation

In [46]:
from catboost import CatBoostRegressor, Pool

# Assuming train_pool and val_pool are already defined
train_pool = Pool(X_train, y_train)
val_pool = Pool(X_val, y_val)

# Define the CatBoost model with initial parameters
catboost_model = CatBoostRegressor(
    iterations=10000,          
    learning_rate=0.1,        
    depth=8,                  
    loss_function='RMSE',     
    eval_metric='RMSE',       
    random_seed=42,           
    verbose=100,               
    early_stopping_rounds=50  
)

train_loop_count = 100  # Number of training stages
init_model = None  # Start without an initial model

for i in range(train_loop_count):
    print(f"\nTraining Stage {i + 1}/{train_loop_count}\n")
    catboost_model.fit(
        train_pool,
        eval_set=val_pool,
        early_stopping_rounds=50,
        verbose=50,
        use_best_model=True,
        init_model=init_model  # Use the model from the previous stage
    )
    # Update the initial model for the next training stage
    init_model = catboost_model

Training Stage 1/100

0:	learn: 2.5592806	test: 2.4453943	best: 2.4453943 (0)	total: 89.8ms	remaining: 14m 58s
50:	learn: 1.2925017	test: 1.0361521	best: 1.0361521 (50)	total: 1.79s	remaining: 5m 49s
100:	learn: 1.0648979	test: 0.8910148	best: 0.8910148 (100)	total: 3.49s	remaining: 5m 41s
150:	learn: 0.9626668	test: 0.7977793	best: 0.7977793 (150)	total: 5.16s	remaining: 5m 36s
200:	learn: 0.9000886	test: 0.7510573	best: 0.7510573 (200)	total: 6.83s	remaining: 5m 33s
250:	learn: 0.8541511	test: 0.7099348	best: 0.7099348 (250)	total: 8.47s	remaining: 5m 29s
300:	learn: 0.8129829	test: 0.6840703	best: 0.6840703 (300)	total: 10.1s	remaining: 5m 26s
350:	learn: 0.7817460	test: 0.6615091	best: 0.6615091 (350)	total: 11.8s	remaining: 5m 24s
400:	learn: 0.7549967	test: 0.6480726	best: 0.6480726 (400)	total: 13.5s	remaining: 5m 23s
450:	learn: 0.7304251	test: 0.6373942	best: 0.6373942 (450)	total: 15.2s	remaining: 5m 22s
500:	learn: 0.7097392	test: 0.6267962	best: 0.6267962 (500)	total: 16.9s	remaining: 5m 21s
550:	learn: 0.6927923	test: 0.6195990	best: 0.6195990 (550)	total: 18.6s	remaining: 5m 19s
600:	learn: 0.6786681	test: 0.6093848	best: 0.6093770 (599)	total: 20.4s	remaining: 5m 18s
650:	learn: 0.6667441	test: 0.6010175	best: 0.6010175 (650)	total: 22s	remaining: 5m 16s
700:	learn: 0.6545416	test: 0.5921445	best: 0.5921445 (700)	total: 23.8s	remaining: 5m 15s
750:	learn: 0.6440970	test: 0.5793515	best: 0.5793515 (750)	total: 25.5s	remaining: 5m 14s
800:	learn: 0.6342947	test: 0.5732063	best: 0.5732063 (800)	total: 27.3s	remaining: 5m 13s
850:	learn: 0.6249518	test: 0.5685958	best: 0.5685958 (850)	total: 29s	remaining: 5m 11s
900:	learn: 0.6169128	test: 0.5645749	best: 0.5645643 (899)	total: 30.7s	remaining: 5m 9s
950:	learn: 0.6091832	test: 0.5595036	best: 0.5595036 (950)	total: 32.4s	remaining: 5m 8s
1000:	learn: 0.6026266	test: 0.5535803	best: 0.5535803 (1000)	total: 34.1s	remaining: 5m 6s
1050:	learn: 0.5960555	test: 0.5505773	best: 0.5505773 (1050)	total: 35.8s	remaining: 5m 4s
1100:	learn: 0.5905353	test: 0.5476090	best: 0.5476029 (1099)	total: 37.5s	remaining: 5m 3s
1150:	learn: 0.5850195	test: 0.5449312	best: 0.5449312 (1150)	total: 39.2s	remaining: 5m 1s
1200:	learn: 0.5798182	test: 0.5400391	best: 0.5400391 (1200)	total: 40.8s	remaining: 4m 59s
1250:	learn: 0.5743223	test: 0.5336988	best: 0.5336988 (1250)	total: 42.5s	remaining: 4m 57s
1300:	learn: 0.5691427	test: 0.5298686	best: 0.5298686 (1300)	total: 44.3s	remaining: 4m 55s
1350:	learn: 0.5647012	test: 0.5269552	best: 0.5269552 (1350)	total: 46s	remaining: 4m 54s
1400:	learn: 0.5601208	test: 0.5239556	best: 0.5239556 (1400)	total: 47.6s	remaining: 4m 52s
1450:	learn: 0.5559258	test: 0.5214211	best: 0.5214211 (1450)	total: 49.3s	remaining: 4m 50s
1500:	learn: 0.5518821	test: 0.5194795	best: 0.5194676 (1496)	total: 51s	remaining: 4m 48s
1550:	learn: 0.5488041	test: 0.5158752	best: 0.5158752 (1550)	total: 52.7s	remaining: 4m 47s
1600:	learn: 0.5453446	test: 0.5133659	best: 0.5133659 (1600)	total: 54.5s	remaining: 4m 45s
1650:	learn: 0.5419305	test: 0.5104367	best: 0.5104367 (1650)	total: 56.2s	remaining: 4m 44s
1700:	learn: 0.5384023	test: 0.5089726	best: 0.5086827 (1698)	total: 57.9s	remaining: 4m 42s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.5086827101
bestIteration = 1698

Shrink model to first 1699 iterations.

Training Stage 2/100

0:	learn: 0.5387323	test: 0.5086768	best: 0.5086768 (0)	total: 93.1ms	remaining: 15m 30s
50:	learn: 0.5349669	test: 0.5104851	best: 0.5085078 (4)	total: 1.89s	remaining: 6m 9s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.508507797
bestIteration = 4

Shrink model to first 5 iterations.

Training Stage 3/100

0:	learn: 0.5384495	test: 0.5085143	best: 0.5085143 (0)	total: 33.6ms	remaining: 5m 35s
50:	learn: 0.5346269	test: 0.5098885	best: 0.5079709 (1)	total: 1.83s	remaining: 5m 57s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.5079709028
bestIteration = 1

Shrink model to first 2 iterations.

Training Stage 4/100

0:	learn: 0.5383758	test: 0.5079568	best: 0.5079568 (0)	total: 36ms	remaining: 5m 59s
50:	learn: 0.5341828	test: 0.5067105	best: 0.5067105 (50)	total: 1.82s	remaining: 5m 55s
100:	learn: 0.5306489	test: 0.5089501	best: 0.5063170 (70)	total: 3.6s	remaining: 5m 52s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.5063170232
bestIteration = 70

Shrink model to first 71 iterations.

Training Stage 5/100

0:	learn: 0.5324994	test: 0.5062539	best: 0.5062539 (0)	total: 33.6ms	remaining: 5m 36s
50:	learn: 0.5292822	test: 0.5084031	best: 0.5060977 (4)	total: 1.8s	remaining: 5m 51s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.5060977013
bestIteration = 4

Shrink model to first 5 iterations.

Training Stage 6/100

0:	learn: 0.5322604	test: 0.5060754	best: 0.5060754 (0)	total: 34.3ms	remaining: 5m 43s
50:	learn: 0.5288875	test: 0.5077162	best: 0.5059047 (8)	total: 1.9s	remaining: 6m 10s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.5059046804
bestIteration = 8

Shrink model to first 9 iterations.

Training Stage 7/100

0:	learn: 0.5317823	test: 0.5060510	best: 0.5060510 (0)	total: 35.3ms	remaining: 5m 53s
50:	learn: 0.5285613	test: 0.5043732	best: 0.5043732 (50)	total: 1.81s	remaining: 5m 53s
100:	learn: 0.5248557	test: 0.5045406	best: 0.5042452 (56)	total: 3.54s	remaining: 5m 46s
150:	learn: 0.5223585	test: 0.5034933	best: 0.5034308 (149)	total: 5.25s	remaining: 5m 42s
200:	learn: 0.5195869	test: 0.5019831	best: 0.5019323 (197)	total: 6.96s	remaining: 5m 39s
250:	learn: 0.5172836	test: 0.4974282	best: 0.4974282 (250)	total: 8.66s	remaining: 5m 36s
300:	learn: 0.5150723	test: 0.4963702	best: 0.4963702 (300)	total: 10.4s	remaining: 5m 33s
350:	learn: 0.5128350	test: 0.4948253	best: 0.4948014 (348)	total: 12s	remaining: 5m 31s
400:	learn: 0.5107062	test: 0.4916455	best: 0.4916288 (395)	total: 13.8s	remaining: 5m 29s
450:	learn: 0.5085871	test: 0.4908145	best: 0.4908145 (450)	total: 15.5s	remaining: 5m 29s
500:	learn: 0.5065817	test: 0.4897044	best: 0.4897044 (500)	total: 17.2s	remaining: 5m 26s
550:	learn: 0.5045354	test: 0.4890353	best: 0.4890353 (550)	total: 19s	remaining: 5m 25s
600:	learn: 0.5027814	test: 0.4874388	best: 0.4874388 (600)	total: 20.7s	remaining: 5m 23s
650:	learn: 0.5010075	test: 0.4853196	best: 0.4853196 (650)	total: 22.4s	remaining: 5m 21s
700:	learn: 0.4986736	test: 0.4836197	best: 0.4836197 (700)	total: 24.1s	remaining: 5m 19s
750:	learn: 0.4969436	test: 0.4824463	best: 0.4824463 (750)	total: 25.8s	remaining: 5m 18s
800:	learn: 0.4950413	test: 0.4839180	best: 0.4824299 (751)	total: 27.6s	remaining: 5m 16s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4824298912
bestIteration = 751

Shrink model to first 752 iterations.

Training Stage 8/100

0:	learn: 0.4969047	test: 0.4824302	best: 0.4824302 (0)	total: 32.9ms	remaining: 5m 29s
50:	learn: 0.4946954	test: 0.4824796	best: 0.4824163 (2)	total: 1.91s	remaining: 6m 13s
100:	learn: 0.4924495	test: 0.4824680	best: 0.4821006 (95)	total: 3.71s	remaining: 6m 4s
150:	learn: 0.4903252	test: 0.4819049	best: 0.4819049 (150)	total: 5.51s	remaining: 5m 59s
200:	learn: 0.4888117	test: 0.4800224	best: 0.4800224 (200)	total: 7.21s	remaining: 5m 51s
250:	learn: 0.4872157	test: 0.4795901	best: 0.4795463 (242)	total: 8.95s	remaining: 5m 47s
300:	learn: 0.4855177	test: 0.4788788	best: 0.4788271 (298)	total: 10.8s	remaining: 5m 47s
350:	learn: 0.4841665	test: 0.4774578	best: 0.4774578 (350)	total: 12.6s	remaining: 5m 45s
400:	learn: 0.4825490	test: 0.4819368	best: 0.4774279 (354)	total: 14.3s	remaining: 5m 43s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4774279071
bestIteration = 354

Shrink model to first 355 iterations.

Training Stage 9/100

0:	learn: 0.4840410	test: 0.4774314	best: 0.4774314 (0)	total: 31.7ms	remaining: 5m 17s
50:	learn: 0.4821213	test: 0.4764119	best: 0.4764119 (50)	total: 1.83s	remaining: 5m 57s
100:	learn: 0.4803415	test: 0.4767313	best: 0.4763907 (51)	total: 3.65s	remaining: 5m 57s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4763906933
bestIteration = 51

Shrink model to first 52 iterations.

Training Stage 10/100

0:	learn: 0.4820579	test: 0.4763771	best: 0.4763771 (0)	total: 33.3ms	remaining: 5m 32s
50:	learn: 0.4803371	test: 0.4780279	best: 0.4763393 (5)	total: 1.87s	remaining: 6m 5s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4763393208
bestIteration = 5

Shrink model to first 6 iterations.

Training Stage 11/100

0:	learn: 0.4819183	test: 0.4763187	best: 0.4763187 (0)	total: 33.2ms	remaining: 5m 32s
50:	learn: 0.4801691	test: 0.4783677	best: 0.4762632 (12)	total: 1.74s	remaining: 5m 40s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4762632492
bestIteration = 12

Shrink model to first 13 iterations.

Training Stage 12/100

0:	learn: 0.4814945	test: 0.4762874	best: 0.4762874 (0)	total: 37.3ms	remaining: 6m 12s
50:	learn: 0.4800860	test: 0.4766919	best: 0.4762299 (1)	total: 1.72s	remaining: 5m 35s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4762298829
bestIteration = 1

Shrink model to first 2 iterations.

Training Stage 13/100

0:	learn: 0.4814205	test: 0.4790258	best: 0.4790258 (0)	total: 34.4ms	remaining: 5m 44s
50:	learn: 0.4796781	test: 0.4804528	best: 0.4789531 (3)	total: 1.76s	remaining: 5m 43s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4789530549
bestIteration = 3

Shrink model to first 4 iterations.

Training Stage 14/100

0:	learn: 0.4813188	test: 0.4787009	best: 0.4787009 (0)	total: 32.7ms	remaining: 5m 26s
50:	learn: 0.4796366	test: 0.4837763	best: 0.4787009 (0)	total: 1.9s	remaining: 6m 9s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4787009022
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 15/100

0:	learn: 0.4812896	test: 0.4786924	best: 0.4786924 (0)	total: 38.4ms	remaining: 6m 23s
50:	learn: 0.4796133	test: 0.4813342	best: 0.4786828 (8)	total: 1.79s	remaining: 5m 50s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4786827878
bestIteration = 8

Shrink model to first 9 iterations.

Training Stage 16/100

0:	learn: 0.4810566	test: 0.4787184	best: 0.4787184 (0)	total: 34.5ms	remaining: 5m 45s
50:	learn: 0.4795704	test: 0.4787209	best: 0.4784409 (30)	total: 1.92s	remaining: 6m 14s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4784409223
bestIteration = 30

Shrink model to first 31 iterations.

Training Stage 17/100

0:	learn: 0.4800286	test: 0.4784510	best: 0.4784510 (0)	total: 35.1ms	remaining: 5m 50s
50:	learn: 0.4784195	test: 0.4792594	best: 0.4783237 (27)	total: 1.81s	remaining: 5m 54s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4783236782
bestIteration = 27

Shrink model to first 28 iterations.

Training Stage 18/100

0:	learn: 0.4791378	test: 0.4782717	best: 0.4782717 (0)	total: 36.3ms	remaining: 6m 2s
50:	learn: 0.4774175	test: 0.4798763	best: 0.4782717 (0)	total: 1.8s	remaining: 5m 51s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4782717283
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 19/100

0:	learn: 0.4790864	test: 0.4782816	best: 0.4782816 (0)	total: 39.8ms	remaining: 6m 38s
50:	learn: 0.4773826	test: 0.4796403	best: 0.4782816 (0)	total: 1.82s	remaining: 5m 55s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.478281603
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 20/100

0:	learn: 0.4790548	test: 0.4782791	best: 0.4782791 (0)	total: 36.9ms	remaining: 6m 9s
50:	learn: 0.4773512	test: 0.4794135	best: 0.4782791 (0)	total: 2.01s	remaining: 6m 32s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4782790732
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 21/100

0:	learn: 0.4790150	test: 0.4783003	best: 0.4783003 (0)	total: 37ms	remaining: 6m 10s
50:	learn: 0.4773475	test: 0.4777585	best: 0.4777585 (50)	total: 1.78s	remaining: 5m 47s
100:	learn: 0.4757197	test: 0.4790915	best: 0.4776141 (63)	total: 3.63s	remaining: 5m 55s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4776141452
bestIteration = 63

Shrink model to first 64 iterations.

Training Stage 22/100

0:	learn: 0.4768421	test: 0.4776035	best: 0.4776035 (0)	total: 35.8ms	remaining: 5m 57s
50:	learn: 0.4754095	test: 0.4784621	best: 0.4772717 (20)	total: 1.8s	remaining: 5m 51s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4772717393
bestIteration = 20

Shrink model to first 21 iterations.

Training Stage 23/100

0:	learn: 0.4762166	test: 0.4772312	best: 0.4772312 (0)	total: 37.3ms	remaining: 6m 13s
50:	learn: 0.4747263	test: 0.4829687	best: 0.4770867 (6)	total: 1.89s	remaining: 6m 8s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4770866513
bestIteration = 6

Shrink model to first 7 iterations.

Training Stage 24/100

0:	learn: 0.4759395	test: 0.4770404	best: 0.4770404 (0)	total: 35.1ms	remaining: 5m 50s
50:	learn: 0.4746316	test: 0.4783385	best: 0.4769561 (20)	total: 1.78s	remaining: 5m 46s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4769560545
bestIteration = 20

Shrink model to first 21 iterations.

Training Stage 25/100

0:	learn: 0.4754940	test: 0.4769102	best: 0.4769102 (0)	total: 33.2ms	remaining: 5m 32s
50:	learn: 0.4741496	test: 0.4782997	best: 0.4763673 (29)	total: 1.87s	remaining: 6m 4s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4763672946
bestIteration = 29

Shrink model to first 30 iterations.

Training Stage 26/100

0:	learn: 0.4747195	test: 0.4763757	best: 0.4763757 (0)	total: 35.9ms	remaining: 5m 58s
50:	learn: 0.4732229	test: 0.4783109	best: 0.4762785 (13)	total: 1.78s	remaining: 5m 47s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4762785135
bestIteration = 13

Shrink model to first 14 iterations.

Training Stage 27/100

0:	learn: 0.4743560	test: 0.4762761	best: 0.4762761 (0)	total: 34.8ms	remaining: 5m 47s
50:	learn: 0.4729970	test: 0.4793346	best: 0.4760512 (30)	total: 1.83s	remaining: 5m 56s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4760511808
bestIteration = 30

Shrink model to first 31 iterations.

Training Stage 28/100

0:	learn: 0.4734980	test: 0.4760415	best: 0.4760415 (0)	total: 35.1ms	remaining: 5m 51s
50:	learn: 0.4723302	test: 0.4777197	best: 0.4759559 (16)	total: 1.99s	remaining: 6m 27s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4759558616
bestIteration = 16

Shrink model to first 17 iterations.

Training Stage 29/100

0:	learn: 0.4731374	test: 0.4759451	best: 0.4759451 (0)	total: 35.5ms	remaining: 5m 54s
50:	learn: 0.4716296	test: 0.4770513	best: 0.4753419 (10)	total: 1.84s	remaining: 5m 59s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.475341851
bestIteration = 10

Shrink model to first 11 iterations.

Training Stage 30/100

0:	learn: 0.4728611	test: 0.4753574	best: 0.4753574 (0)	total: 37.7ms	remaining: 6m 16s
50:	learn: 0.4714634	test: 0.4796147	best: 0.4752715 (6)	total: 1.88s	remaining: 6m 7s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4752714906
bestIteration = 6

Shrink model to first 7 iterations.

Training Stage 31/100

0:	learn: 0.4726983	test: 0.4752390	best: 0.4752390 (0)	total: 36.9ms	remaining: 6m 8s
50:	learn: 0.4712942	test: 0.4767812	best: 0.4751411 (17)	total: 2.09s	remaining: 6m 47s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4751411016
bestIteration = 17

Shrink model to first 18 iterations.

Training Stage 32/100

0:	learn: 0.4721504	test: 0.4751354	best: 0.4751354 (0)	total: 33.3ms	remaining: 5m 32s
50:	learn: 0.4707731	test: 0.4749871	best: 0.4747493 (49)	total: 1.89s	remaining: 6m 9s
100:	learn: 0.4695881	test: 0.4744463	best: 0.4741808 (89)	total: 3.76s	remaining: 6m 8s
150:	learn: 0.4683797	test: 0.4748030	best: 0.4740608 (115)	total: 5.64s	remaining: 6m 7s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4740607906
bestIteration = 115

Shrink model to first 116 iterations.

Training Stage 33/100

0:	learn: 0.4692529	test: 0.4740857	best: 0.4740857 (0)	total: 38.5ms	remaining: 6m 25s
50:	learn: 0.4680382	test: 0.4747760	best: 0.4738706 (34)	total: 1.95s	remaining: 6m 19s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4738705579
bestIteration = 34

Shrink model to first 35 iterations.

Training Stage 34/100

0:	learn: 0.4683609	test: 0.4738723	best: 0.4738723 (0)	total: 32.7ms	remaining: 5m 27s
50:	learn: 0.4670820	test: 0.4733628	best: 0.4732923 (45)	total: 1.9s	remaining: 6m 11s
100:	learn: 0.4659302	test: 0.4730489	best: 0.4730429 (84)	total: 3.8s	remaining: 6m 12s
150:	learn: 0.4647622	test: 0.4726651	best: 0.4724170 (126)	total: 5.68s	remaining: 6m 10s
200:	learn: 0.4637468	test: 0.4724296	best: 0.4723816 (181)	total: 7.5s	remaining: 6m 5s
250:	learn: 0.4627896	test: 0.4723039	best: 0.4722435 (237)	total: 9.3s	remaining: 6m 1s
300:	learn: 0.4617393	test: 0.4722731	best: 0.4721684 (278)	total: 11.1s	remaining: 5m 58s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4721683659
bestIteration = 278

Shrink model to first 279 iterations.

Training Stage 35/100

0:	learn: 0.4621733	test: 0.4721774	best: 0.4721774 (0)	total: 32.6ms	remaining: 5m 26s
50:	learn: 0.4609714	test: 0.4739323	best: 0.4721774 (0)	total: 1.96s	remaining: 6m 21s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4721773997
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 36/100

0:	learn: 0.4621346	test: 0.4721951	best: 0.4721951 (0)	total: 36.5ms	remaining: 6m 5s
50:	learn: 0.4610396	test: 0.4738552	best: 0.4721951 (0)	total: 1.94s	remaining: 6m 18s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4721950519
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 37/100

0:	learn: 0.4621171	test: 0.4721778	best: 0.4721778 (0)	total: 35.9ms	remaining: 5m 59s
50:	learn: 0.4608695	test: 0.4739963	best: 0.4721778 (0)	total: 1.94s	remaining: 6m 18s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4721777998
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 38/100

0:	learn: 0.4621112	test: 0.4721407	best: 0.4721407 (0)	total: 31.1ms	remaining: 5m 10s
50:	learn: 0.4609615	test: 0.4723017	best: 0.4721407 (0)	total: 1.95s	remaining: 6m 20s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.472140743
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 39/100

0:	learn: 0.4620914	test: 0.4720671	best: 0.4720671 (0)	total: 36.5ms	remaining: 6m 5s
50:	learn: 0.4609099	test: 0.4739270	best: 0.4720048 (23)	total: 1.95s	remaining: 6m 20s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4720048143
bestIteration = 23

Shrink model to first 24 iterations.

Training Stage 40/100

0:	learn: 0.4615618	test: 0.4720037	best: 0.4720037 (0)	total: 33ms	remaining: 5m 29s
50:	learn: 0.4604848	test: 0.4739070	best: 0.4720037 (0)	total: 1.92s	remaining: 6m 13s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4720036913
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 41/100

0:	learn: 0.4615512	test: 0.4719728	best: 0.4719728 (0)	total: 35.2ms	remaining: 5m 52s
50:	learn: 0.4604505	test: 0.4737873	best: 0.4719728 (0)	total: 1.9s	remaining: 6m 11s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4719728001
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 42/100

0:	learn: 0.4615394	test: 0.4719576	best: 0.4719576 (0)	total: 32.9ms	remaining: 5m 29s
50:	learn: 0.4604544	test: 0.4737255	best: 0.4719576 (0)	total: 1.91s	remaining: 6m 12s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4719575508
bestIteration = 0

Shrink model to first 1 iterations.

Training Stage 43/100


# Submission for forecasting

In [47]:
test_features = test_df.drop(columns=['id', 'date'], errors='ignore')  # Drop unnecessary columns
test_features = test_features.reindex(columns=X_train.columns, fill_value=0)

In [48]:
# Predict using the trained CatBoost model
test_df['sales'] = catboost_model.predict(test_features)

In [49]:
test_df['sales'] = np.expm1(test_df['sales'])

In [50]:
# Create submission file
submission = test_df[['id', 'sales']]  # Include 'id' and the predicted target column
submission.to_csv('submission_catboost.csv', index=False)

print("Submission file created: submission.csv")

Submission file created: submission.csv

In [60]:
import numpy as np

def rmlse(y_true, y_pred):
    """
    Calculate Root Mean Log Squared Error (RMLSE).

    Parameters:
    y_true (array-like): Actual values (true sales)
    y_pred (array-like): Predicted values (sales predicted by CatBoost model)

    Returns:
    float: RMLSE value
    """
    # Ensure no negative values or NaNs in the data by clipping values to be >= 0
    y_true = np.maximum(y_true, 0)
    y_pred = np.maximum(y_pred, 0)

    # Check if there are any NaN or infinite values
    if np.any(np.isnan(y_true)) or np.any(np.isnan(y_pred)):
        return np.nan
    
    # Add 1 to avoid log(0) issues
    log_true = np.log(y_true + 1)
    log_pred = np.log(y_pred + 1)
    
    # Calculate the squared differences and compute the mean
    mean_squared_log_error = np.mean((log_true - log_pred) ** 2)
    
    # Return the square root of the mean squared log error
    return np.sqrt(mean_squared_log_error)

# Assuming 'test_df['sales']' is the true values and 'catboost_model.predict(test_features)' is the predicted values:
y_true = test_df['sales'].values
y_pred = catboost_model.predict(test_features)

# Calculate RMLSE
rmlse_value = rmlse(y_true, y_pred)
print(f"RMLSE: {rmlse_value}")

RMLSE: 2.906038830530555

In [62]:
from sklearn.metrics import root_mean_squared_error, root_mean_squared_log_error

In [63]:
y_true = test_df['sales'].values
y_pred = catboost_model.predict(test_features)

# Calculate RMLSE
rmlse_value = root_mean_squared_error(y_true, y_pred)
print(f"RMSE: {rmlse_value}")

RMSE: 1245.8210305939576